/*! nouislider - 14.6.3 - 11/19/2020 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 100%;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3fb8af;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #e8e7e6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.calculator {
  padding: 40px 0;
}

@media (min-width: 768px) {
  .calculator {
    padding: 40px 30px;
  }
}

@media (min-width: 992px) {
  .calculator {
    padding: 40px 60px;
  }
}

.calculator a {
  text-decoration: none;
}

.calculator h2 {
  margin-bottom: 32px;
}

.calculator__description p {
  text-align: center;
}

.calculator__description ul,
.calculator__description ol {
  padding-top: 15px;
}

.calculator__description li {
  padding: 3px 10px;
  margin: 0 6px;
  font-size: 16px;
  position: relative;
}

.calculator__description li::before {
  content: " ";
  background: #0027d6;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 100%;
}

.calculator__box-container {
  width: 100%;
  display: flex;
  position: relative;
}

.calculator__box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dbe5ea;
  box-shadow: 0 24px 32px 0 rgba(233, 233, 233, 0.5);
  border-radius: 16px;
  overflow: hidden;
}

.calculator__side {
  width: 100%;
  padding: 40px;
  flex: 1 1 475px;
}

.calculator__group {
  margin-bottom: 10px;
}

.calculator__side--blue {
  background-color: #f8f9fa;
}

@media (min-width: 992px) {
  .calculator__side {
    padding: 64px;
  }
}

.calculator__title {
  color: #132e4d;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

/* @media (min-width: 768px) {
      .calculator__title {
        margin-bottom: 40px;
      }
    } */

.calculator__amount {
  color: #132e4d;
  font-size: 40px;
  font-weight: 500;
}

.calculator__slider {
  padding: 40px 0;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .calculator__slider {
    margin-bottom: 5px;
  }
}

.calculator__slider-input {
  background-color: #dbe5ea;
  border-radius: 100px;
  width: 100%;
  height: 8px;
}

.calculator__slider-input::-webkit-slider-thumb {
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(140, 140, 140, 0.3), 0 -2px 4px 0 rgba(140, 140, 140, 0.2);
  width: 40px;
  height: 40px;
}

.calculator__slider .noUi-target {
  height: 8px;
  background-color: #dbe5ea;
  border: none;
  border-radius: 100px;
}

.calculator__slider .noUi-connect {
  background-color: #0027d6;
}

.calculator__slider .noUi-handle {
  cursor: pointer;
  top: -16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcon/Slide-Disabled%3C/title%3E%3Cg id='Icon/Slide-Disabled' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='slider-active' transform='translate(4.000000  8.000000)' stroke='%230027d6' stroke-width='1.5'%3E%3Cpolyline id='Path' transform='translate(14.000000  4.000000) rotate(-90.000000) translate(-14.000000  -4.000000) ' points='10 2 14 6 18 2'%3E%3C/polyline%3E%3Cpolyline id='Path' transform='translate(2.000000  4.000000) scale(-1  1) rotate(-90.000000) translate(-2.000000  -4.000000) ' points='-2 2 2 6 6 2'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(140, 140, 140, 0.3), 0 -2px 4px 0 rgba(140, 140, 140, 0.2);
}

.calculator__slider .noUi-handle::before,
.calculator__slider .noUi-handle::after {
  content: none;
}

.calculator__button {
  -moz-apperance: none;
  background-color: #0027d6;
  border: none;
  border-radius: 32px;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  padding: 16px 40px;
  text-align: center;
  width: 100%;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.calculator__button:hover,
.calculator__button:active {
  color: #ffffff;
}

.calculator__table {
  background-color: #ffffff;
  border: 1px solid #dbe5ea;
  border-radius: 8px;
  margin-bottom: 50px;
}

.calculator__table-row {
  padding: 32px 24px;
  border-bottom: 1px solid #dbe5ea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator__table-row:last-child {
  border-bottom: none;
}

.calculator__table-column {
  color: #132e4d;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}

.calculator__table-column:nth-child(2n) {
  font-weight: 600;
}

.calculator__circle {
  position: absolute;
  border-radius: 100%;
}

.calculator__circle--yellow {
  top: -32px;
  right: 72px;
  background-color: #f7be48;
  width: 64px;
  height: 64px;
  z-index: 1;
}

.calculator__circle--blue {
  bottom: -74px;
  right: 60px;
  background-color: #21cefc;
  width: 112px;
  height: 112px;
  z-index: -1;
}

@media (min-width: 768px) {
  .calculator__circle--blue {
    right: -30px;
  }
}

@media (min-width: 992px) {
  .calculator__circle--blue {
    right: -60px;
  }
}

.calculator__circle--green {
  bottom: 96px;
  left: -163px;
  background-color: #20ffab;
  width: 48px;
  height: 48px;
  z-index: -1;
}

.calculator__options {
  margin-bottom: 24px;
}

.calculator__options-header {
  color: #132e4d;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.calculator__checkmark {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 15px;
  flex-shrink: 0;
  position: relative;
  transform: rotate(45deg);
}

.calculator__checkmark:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #36b3ff;
  left: 16px;
  top: 6px;
}

.calculator__checkmark:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #36b3ff;
  left: 10px;
  top: 19px;
}

.b-calc__radio-options {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.b-calc__radio-options input[type="radio"] {
  appearance: none;
  display: none;
}

.b-calc__radio-options label {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 32px;
  overflow: hidden;
  transition: linear 0.3s;
  color: #000;
  border: 1px solid #dbe5ea;
  margin-right: 5px;
  cursor: pointer;
}

.b-calc__radio-options input[type="radio"]:checked + label {
  background-color: #0027d6;
  color: #ffffff;
  font-weight: 900;
  transition: 0.3s;
}

.calc-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0027d6;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-loader .loader-inner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.calc-loader .loader-inner div {
  position: absolute;
  top: 33px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #0027d6;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.calc-loader .loader-inner div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.calc-loader .loader-inner div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.calc-loader .loader-inner div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.calc-loader .loader-inner div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
